@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  }

  body {
    background-image: url('/pictures/movieposter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  

  .auth-form-containter, .login-form, .register-form {
    display:flex;
    flex-direction: column;
    border: none; /* Add a border around the input */
    border-radius: 10px;
   }

  
.login-page-container,
.signup-page-container,
.forget-page-container {
  display: flex;
  flex-direction: column;
  border: none; /* Add a border around the input */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity */
  padding: 20px; /* Add padding to create space around the content */
  width: 300px; /* Set a specific width for the container */
  margin: 0 auto; /* Center the container horizontally */
}
  @media screen and (min-width: 600px) {
      .auth-form-containter {
      padding: 5rem;
      border: none;
      border-radius: 10px;
      margin: 0.5rem;
      
    }
  }

  label {
    text-align: left;
    padding: 0.25rem 0;
  }

  input {
    margin: 1.0rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }

  button {
    border: none;
    background-color: red; /* Set the background color to red */
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff; /* Set the text color to white */
  }
  

  .link-btn {
    margin: 0.5rem 0;
    background: none;
    color: black;
    text-decoration: underline;
    border-radius: 10px;
  }
  

  .App-logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  
  
  .App-logo {
    width: 200px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
  }

  h2 {
    font-size: 30px; /* Adjust the font size to your desired value */
    border: none; /* Add a border around the h2 header */
    padding: 10px; /* Add padding to create space around the h2 header */
    border-radius: 10px;
  }
  
  .link-btn {
    margin-top: 20px;
    color: black;
    margin-right: 10px;
  }

  .links-container {
    display: flex;
    justify-content: space-between;
  }

  .search-movies-container {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: #1D2B64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .lol {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  :root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 0.9px;
    color: white;
    width: fit-content;
  }

  .search {
    width: 71%;
    margin: 4rem 0 2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background: white;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }

  .search input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
  
    outline: none;
    color: black;
    background: white;
  }

  .search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .empty {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .empty h2 {
    font-size: 10rem;
    color: white;
    font-family: var(--font-raleway);
  }

  .container {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .movie {
    width: 310px;
    height: 460px;
    margin: 1.5rem;
  
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
  
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }

  movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: #f9d3b4;
  }

  .movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
  }

  .movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: white;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: black;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.log-out {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 16px; /* Adjust the font size as desired */
  text-decoration: none;
}













  



  
  

  
